<div class="section">
    <div class="section-header">
        <h2 id="education">Where I've studied</h2>
    </div>
    {% for uni in page.unis %}
    <div class="section-container">
        <div id="uni-name-{{ uni.name }}" class="section-column-1">
            <p class="uni-dates">{{ uni.year }}</p>
        </div> 
        <div id="uni-desc-{{ uni.name }}" class="section-column-2">
            <div class="uni-desc">{{ uni.major }}</div>
            <h3>{{ uni.name }}</h3>
            <p>{{ uni.desc | markdownify }}</p>
        </div>
    </div>
    {% endfor %}
</div>
