<div class="section">
    <div class="section-header">
        <h2 id="experience">Where I've worked</h2>
    </div>
    <div class="section-container">
        <div class="section-column-1">
            <div id="exp-companies-list" class="exp-companies-list">
                
                {% for company in page.companies %}
                <div id="comp-name-{{ company.name }}" class="comp-name">
                    {{ company.name }}
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="section-column-2">
            <div id="exp-companies-desc-list">
                {% for company in page.companies %}
                <div id="{{ company.name }}" class="comp-desc">
                    {{ company.desc }}
                </div>
                {% endfor %}
            </div>
            
            
        </div>
        
    </div>
        
</div>
