<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.skin | default: '/assets/css/style.css' | relative_url }}">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="section">
          <div>Hi, my name is</div>
          <div class=anna>Anna Kramarska</div>
          <div class=swe>I'm a software engineer</div>
          {{ content }}
        </div>
        
        {%- include aboutme.html -%}
        {%- include exp.html -%}
        {%- include education.html -%}
      </div>
      
    </main>


    <div class="my_social">
      {%- include social.html -%}
    </div>

    <script type="text/javascript" src="assets/js/script.js"></script>
  </body>

</html>